header{
    background-color:cadetblue;
    color: #fff;
    text-align: center;
    padding: 24px 16px;
}

body {
    min-height: 100vh;
    background: linear-gradient(135deg, #1a047c, #e4ebf5);
}

nav{
    display: flex;
    justify-content: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 30px;
}

.img-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
}
.mini-img {
    width: 550px;
    height: auto;
    border-radius: 10px;
}

.contenedor-img {
    position: relative;
}
.descripcion {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgb(0, 0, 0,0.7);
    color: rgb(255, 255, 255);
    padding: 5px;
    text-align: center;
    font-size: 14px;
    opacity: 0;
    transition: opacity 0.3s;
}
.contenedor-img:hover .descripcion {
    opacity: 1;
}

.contenedor-img {
    transition: transform 0.3s ease; box-shadow: 0.3s ease;
}

button {
    padding: 10px 20px;
    background-color: #0080ff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #005bb5;
}
