body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: rgb(3, 3, 3);
    background-color: #ffffff;
    margin: 0;
    padding: 20;
    text-align: center;
}
header{
    background-color:cadetblue;
    color: #fff;
    text-align: center;
    padding: 24px 16px;
}

footer{
    text-align: center;
    padding: 12px 8px;
    font-size: 0.9rem;
    color: #fff;
    background-color: cadetblue;
}
